name: build and push on docker hub
on:
  push:
    branches: [ main ]
  
jobs: 
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install aws cli
        run: | 
          sudo apt update && sudo apt install awscli -y
      # - name: Set tup Docker Buildx
      #   uses: docker/setup-buildx-action@v2
      - name: Bump version and push tag
        id: tag001
        uses: anothrNick/github-tag-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}
          WITH_V: true
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
    
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: komal0094/docker-test:${{steps.tag001.outputs.tag}}
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1
      - name: configure eks-cluster
        run: aws eks update-kubeconfig  --name gg_eks_cluster    
          